.inputStyle {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 3px;
}

.buttonStyle {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.close-button{
    background-color: transparent;
    color: #f44336;
    position: absolute;
    top: -7px;
    right: -150px;
}

.submit-button-login {
  background-color: #4caf50;
  color: #fff;
  margin-top: 20px;
}

.paragraphStyle {
  margin-top: -10px;
}

.heading {
  text-align: center;
  font-size: 23px;
}
